<section
  data-background="content/images/nca-logo-slide.jpg"
  data-background-repeat="no-repeat"
  data-background-size="contain"
  data-background-position="center top"
  data-background-attachment="fixed"
></section>
