# Node-Module und Abhängigkeiten
node_modules/

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db

# Entwicklungsumgebung-spezifische Dateien
.idea/
.vscode/

# Log-Dateien
npm-debug.log
yarn-error.log

# Umgebungsvariablen
.env

# Andere temporäre oder generierte Dateien
*.tmp
*.swp
*.bak

