<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Webdesign, Content & Accessibility - Wie du mit Silktide deine Webseiten barrierefrei aufs nächste Level bringst</title>
    <meta name="description" content="Barrierefreies Webdesign mit Silktide Chrome Extension verbessern"/>
    <% include ../includes/header.ejs %>
</head>
<body>

<div class="reveal">
    <div class="slides">
        <section data-background="content/webdesign-accessibility/accessibility-talk-roland-golla-1.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
        <section data-background="content/webdesign-accessibility/accessibility-talk-roland-golla-2.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
        <section data-background="content/webdesign-accessibility/accessibility-talk-roland-golla-3.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
        <section data-background="content/webdesign-accessibility/accessibility-talk-roland-golla-4.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
        <section data-background="content/webdesign-accessibility/accessibility-talk-roland-golla-5.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
        <section data-background="content/webdesign-accessibility/accessibility-talk-roland-golla-6.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
        <section data-background="content/webdesign-accessibility/accessibility-talk-roland-golla-7.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
        <section data-background="content/webdesign-accessibility/accessibility-talk-roland-golla-8.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
        <section data-background="content/webdesign-accessibility/accessibility-talk-roland-golla-9.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
        <section data-background="content/webdesign-accessibility/accessibility-talk-roland-golla-10.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
        <section data-background="content/webdesign-accessibility/accessibility-talk-roland-golla-11.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
    </div> <!-- slides -->
</div> <!-- reveal -->
</html>
