<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Dead Internet Theorie - A Practical Guide - Never Code Alone</title>
    <meta
      name="description"
      content="Dead Internet Theorie - Ein praktischer Leitfaden für Entwickler"
    />
    <% include ../includes/header.ejs %>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <!-- First Column: Title Slide -->
        <section>
          <section
            data-background="content/images/dead-internet/dead-internet-1.jpg"
            data-background-repeat="no-repeat"
            data-background-size="contain"
            data-background-position="center top"
          >
            <aside class="notes">
              <ul>
                <li></li>
              </ul>
            </aside>
          </section>
        </section>
        <section
          data-background="content/images/kill-bugs-roland-golla.jpg"
          data-background-repeat="no-repeat"
          data-background-size="contain"
          data-background-position="center top"
        >
          <aside class="notes">
            <ul>
              <li></li>
            </ul>
          </aside>
        </section>

        <!-- Second Column: Main Content (Vertical Navigation) -->
        <section>
          <section
            data-background="content/images/dead-internet/dead-internet-2.jpg"
            data-background-repeat="no-repeat"
            data-background-size="contain"
            data-background-position="center top"
          >
            <aside class="notes">
              <ul>
                <li></li>
              </ul>
            </aside>
          </section>
          <section
            data-background="content/images/dead-internet/dead-internet-3.jpg"
            data-background-repeat="no-repeat"
            data-background-size="contain"
            data-background-position="center top"
          >
            <aside class="notes">
              <ul>
                <li></li>
              </ul>
            </aside>
          </section>
          <section
            data-background="content/images/dead-internet/dead-internet-4.jpg"
            data-background-repeat="no-repeat"
            data-background-size="contain"
            data-background-position="center top"
          >
            <aside class="notes">
              <ul>
                <li></li>
              </ul>
            </aside>
          </section>
          <section
            data-background="content/images/dead-internet/dead-internet-5.jpg"
            data-background-repeat="no-repeat"
            data-background-size="contain"
            data-background-position="center top"
          >
            <aside class="notes">
              <ul>
                <li></li>
              </ul>
            </aside>
          </section>
          <section
            data-background="content/images/dead-internet/dead-internet-6.jpg"
            data-background-repeat="no-repeat"
            data-background-size="contain"
            data-background-position="center top"
          >
            <aside class="notes">
              <ul>
                <li></li>
              </ul>
            </aside>
          </section>
          <section
            data-background="content/images/dead-internet/dead-internet-7.jpg"
            data-background-repeat="no-repeat"
            data-background-size="contain"
            data-background-position="center top"
          >
            <aside class="notes">
              <ul>
                <li></li>
              </ul>
            </aside>
          </section>
        </section>

        <!-- Third Column: Last Slide -->
        <section>
          <section
            data-background="content/images/dead-internet/dead-internet-8.jpg"
            data-background-repeat="no-repeat"
            data-background-size="contain"
            data-background-position="center top"
          >
            <aside class="notes">
              <ul>
                <li></li>
              </ul>
            </aside>
          </section>
        </section>
      </div>
    </div>
    <% include ../includes/footer.ejs %>
  </body>
</html>
