<!DOCTYPE html>
<html lang="en">
<head>
    <title>Developer - A job that rocks - Roland Golla PHP-Team trainer motivation</title>
    <meta name="description" content="Bandquotes and many songtexts bring us a full bunch of emotion. Pain, love, waiting, heroes, teams, passion, Scrum, Jira, Kanban, education and a lot more - just the life."/>
    <% include ../includes/header.ejs %>
</head>
<body>

<div class="reveal">
    <div class="slides">
            <section data-background="content/images/band-quotes/nevercodealone-bandquotes-1.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <section data-background="content/images/developer-rock/developer-rocks-2.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <section data-background="content/images/developer-rock/developer-rocks-3.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <section data-background="content/images/developer-rock/developer-rocks-4.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <section data-background="content/images/developer-rock/developer-rocks-5.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <section data-background="content/images/developer-rock/developer-rocks-6.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <section data-background="content/images/developer-rock/developer-rocks-7.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <section data-background="content/images/developer-rock/developer-rocks-8.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <section data-background="content/images/developer-rock/developer-rocks-9.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <section data-background="content/images/developer-rock/developer-rocks-10.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <section data-background="content/images/developer-rock/developer-rocks-11.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <section data-background="content/images/developer-rock/developer-rocks-12.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
            </section>
            <% include ../includes/last-slide.ejs %>
        </section>
    </div> <!-- slides -->
</div> <!-- reveal -->
</html>
