<!DOCTYPE html>
<html lang="en">
<head>
    <title>Develop zourself - für Open Source den inneren Schweinehund überwinden</title>
    <meta name="description" content="Bandquotes and many songtexts bring us a full bunch of emotion. Pain, love, waiting, heroes, teams, passion, Scrum, Jira, Kanban, education and a lot more - just the life."/>
</head>
<body>

<div class="reveal">
    <div class="slides">
            <section data-background="content/images/nca-logo-slide.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/kill-bugs-roland-golla.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/develop-yourself/develop-yourself-2.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/develop-yourself/develop-yourself-3.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/develop-yourself/develop-yourself-4.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/develop-yourself/develop-yourself-5.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/develop-yourself/develop-yourself-6.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/develop-yourself/develop-yourself-7.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/develop-yourself/develop-yourself-8.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/develop-yourself/develop-yourself-9.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/nca-logo-slide.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <aside class="notes">
                <ul>
                    <li></li>
                </ul>
            </aside>
        </section>
    </div> <!-- slides -->
</div> <!-- reveal -->
</body>
</html>
