<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Vom Freelancer zum Unternehmer im Pott: KI nutzen - Teams führen & Tünnes-Tipps trotzen</title>
    <% include ../includes/header.ejs %>
</head>
<body>

<div class="reveal">
    <div class="slides">
            <section data-background="content/images/nca-logo-slide.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/kill-bugs-roland-golla.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
                <h2>Der Anfang der Reise</h2>
                <img src="content/images/freelancer-to-startup/it-company.jpg" alt="Der Anfang der Reise" />
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
                <h2>Arbeit macht Arbeit, gute Arbeit macht noch mehr Arbeit, exzellente Arbeit schafft Arbeitsplätze</h2>
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
                <h2>Die Bedeutung von Effizienz und Werten</h2>
                <video data-autoplay muted height="400px" src="content/images/freelancer-to-startup/teamwork-whales.mp4"></video>
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain" data-background-position="center top" data-background-attachment="fixed">
                <h2>Vorbilder, Ziele und Identifikation</h2>
                <img src="content/images/freelancer-to-startup/star-wars-motivation.jpg" alt="Vorbilder, Ziele und Identifikation" />
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
                <img src="content/images/freelancer-to-startup/bill-gates.jpg" alt="Bill Gates">
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
                <h2>Roboter-Rauswurf:<br> KI-Jobübernahme</h2>
                <img src="content/images/freelancer-to-startup/chatgpt-takes-job.jpg" alt="Roboter-Rauswurf: KI-Jobübernahme" />
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
                <h2>Training: KI-Profi werden</h2>
                <img src="content/images/freelancer-to-startup/driving-ai.jpg" alt="Training: KI-Profi werden" />
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
                <h2>KI-Vorteile rocken</h2>
                <img src="content/images/freelancer-to-startup/chatgpt-super-tool.jpg" alt="KI-Vorteile rocken" />
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
                <h2>Herausforderungen und Lösungen</h2>
                <img src="content/images/freelancer-to-startup/shark-on-lego.jpg" alt="Herausforderungen und Lösungen" />
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
                <h2>Sales Sense</h2>
                <img src="content/images/freelancer-to-startup/sales.jpg" alt="Sales Sense" />
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
                <h2>Networking und echte Menschen</h2>
                <img src="content/images/freelancer-to-startup/swimmer.jpg" alt="Networking und echte Menschen" />
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top"  data-background-attachment="fixed">
                <h2>Picknicker</h2>
                <img src="content/images/freelancer-to-startup/worker.jpg" alt="Picknicker" />
            </section>
            <section data-background="content/images/nca-matrix-background.jpg" data-background-repeat="no-repeat" data-background-size="contain" data-background-position="center top" data-background-attachment="fixed">
                <h2>No fate - kein Schicksal</h2>
                <img src="content/images/freelancer-to-startup/dalle-no-fate.jpg" alt="No fate - kein Schicksal" />
            </section>
            <% include ../includes/last-slide.ejs %>
        </section>
    </div> <!-- slides -->
</div> <!-- reveal -->
</html>
