<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>KI als Karriereboost - Never Code Alone</title>
    <meta name="description" content="Künstliche Intelligenz als Karriere-Booster für Developer"/>
    <% include ../includes/header.ejs %>
</head>
<body>

<div class="reveal">
    <div class="slides">
        <!-- First Column: Title Slide -->
        <section>
            <section data-background="content/images/ki-karriereboost/ki-karriereboost-1.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
                <aside class="notes">
                    <ul>
                        <li></li>
                    </ul>
                </aside>
            </section>
        </section>

        <!-- Second Column: Main Content (Vertical Navigation) -->
        <section>
            <section data-background="content/images/ki-karriereboost/ki-karriereboost-2.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
                <aside class="notes">
                    <ul>
                        <li></li>
                    </ul>
                </aside>
            </section>
            <section data-background="content/images/ki-karriereboost/ai-gpt.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
                <aside class="notes">
                    <ul>
                        <li></li>
                    </ul>
                </aside>
            </section>
            <section data-background="content/images/ki-karriereboost/ki-karriereboost-3.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
                <aside class="notes">
                    <ul>
                        <li></li>
                    </ul>
                </aside>
            </section>
            <section data-background="content/images/ki-karriereboost/ki-karriereboost-4.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
                <aside class="notes">
                    <ul>
                        <li></li>
                    </ul>
                </aside>
            </section>
            <section data-background="content/images/ki-karriereboost/ki-karriereboost-5.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
                <aside class="notes">
                    <ul>
                        <li></li>
                    </ul>
                </aside>
            </section>
            <section data-background="content/images/ki-karriereboost/ki-karriereboost-6.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
                <aside class="notes">
                    <ul>
                        <li></li>
                    </ul>
                </aside>
            </section>
            <section data-background="content/images/ki-karriereboost/ki-karriereboost-7.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
                <aside class="notes">
                    <ul>
                        <li></li>
                    </ul>
                </aside>
            </section>
            <section data-background="content/images/ki-karriereboost/ki-karriereboost-8.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
                <aside class="notes">
                    <ul>
                        <li></li>
                    </ul>
                </aside>
            </section>
            <section data-background="content/images/ki-karriereboost/ki-karriereboost-9.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
                <aside class="notes">
                    <ul>
                        <li></li>
                    </ul>
                </aside>
            </section>
        </section>

        <!-- Third Column: Last Slide -->
        <section>
            <section data-background="content/images/ki-karriereboost/ki-karriereboost-10.jpg" data-background-repeat="no-repeat" data-background-size="contain"  data-background-position="center top" >
                <aside class="notes">
                    <ul>
                        <li></li>
                    </ul>
                </aside>
            </section>
        </section>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
