<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../includes/header.ejs %>
    <title>
      Warum Vim die beste Open Source IDE für Javascript und Cypress.IO ist
    </title>
    <meta
      name="description"
      content="NCA Talk von Cypress.IO Ambassador Roland Golla über Vim als Open Source Editor"
    />
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <% include ../includes/first-slides.ejs %>
        <section
          data-background="content/images/nca-matrix-background.jpg"
          data-background-repeat="no-repeat"
          data-background-size="contain"
          data-background-position="center top"
                 >
          <h2>Why Vim</h2>
          <p class="fragment">Nachhaltigkeit</p>
          <p class="fragment">Open Source</p>
          <p class="fragment">Passion Nerdy Shit</p>
          <p class="fragment">Macht mich schneller</p>
        </section>
        <section
          data-background="content/images/nca-matrix-background.jpg"
          data-background-repeat="no-repeat"
          data-background-size="contain"
          data-background-position="center top"
                 >
          <h2>Basics</h2>
          <p>h j k l</p>
          <p>G gg</p>
          <p>0 $</p>
          <p>H M L</p>
        </section>
        <section
          data-background="content/images/nca-matrix-background.jpg"
          data-background-repeat="no-repeat"
          data-background-size="contain"
          data-background-position="center top"
                 >
          <h2>Replace und Remove</h2>
          <p>x dd</p>
          <p>cw ci' C</p>
          <p>p P</p>
          <p>o O</p>
          <p>Dot command</p>
        </section>
        <section
          data-background="content/images/nca-matrix-background.jpg"
          data-background-repeat="no-repeat"
          data-background-size="contain"
          data-background-position="center top"
                 >
          <h2>Code like a god - COC Plugin</h2>
          <p>Neuer Test</p>
          <p>Neues Page Object</p>
          <p>Horizontaler Split</p>
          <p>Depency Injection</p>
          <p>gr - coc references</p>
          <p>Rename Method</p>
        </section>
        <section
          data-background="content/images/nca-matrix-background.jpg"
          data-background-repeat="no-repeat"
          data-background-size="contain"
          data-background-position="center top"
                 >
          <h2>Git Gott Fugitive</h2>
          <p>:G - Öffnen</p>
          <p>= - Diff view</p>
          <p>cc - Commit mit Autocomplete</p>
          <p>ca - Ammend mit edit</p>
          <p>ce - Ammend end</p>
        </section>
        <section
          data-background="content/images/nca-matrix-background.jpg"
          data-background-repeat="no-repeat"
          data-background-size="contain"
          data-background-position="center top"
                 >
          <h2>Hidden Hero</h2>
          <p class="fragment fade-in highlight-green custom blur">
            Fuzzy finder
          </p>
        </section>
        <% include ../includes/last-slide.ejs %>
      </div>
    </div>
  </body>
</html>
